$border-color: #626262;
$base-color: #DBDBDB;
$body-color: #FFFAF0;
$div-color: lighten( $base-color, 10% );
$field-color: lighten( $div-color, 3% );

#game-container .page {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}
#game-container .page .row001 {
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
}
#profile-view {
  background-color: $div-color;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1.5rem;
  height: 85px;
  flex: 1 auto;
  display: inline-flex;
}
#profile-view .user-info {
  margin: auto 0;
  flex-direction: column;
  flex: 2;
}
#profile-view .user-info .header {
  font-weight: 800;
  margin-right: 3rem;
}
#profile-view .game-status{
  margin: auto 0;
  flex-direction: column;
  flex: 2;
}
#profile-view .timer {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}
#profile-view .progress-area {
  margin: auto 0;
  flex-direction: column;
  flex: 2;
}
#answer-view > div {
  align-self: center;
  text-align: center;
}
#board {
  column-count: 5;
  column-gap: 0;
  text-align: center;
}
#board .gamepiece-frame {
  width: 200px;
  height: 125px;
  display: inline-block;
  overflow: hidden;
  break-inside: avoid;
  border-radius: 10px;
  border: $border-color solid 2px;
}
#board .gamepiece {
  display: block;
  border-radius: 10px;
}
#board .gamepiece-hidden {
  display: block;
  padding: 3px;
  height: 100%;
  text-align: center;
}
#answer-view {
  background-color: $div-color;
  height: 100%;
  min-height: 575px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 3 auto;
  display: flex;
  justify-content: center;
} 
#answer-view textarea {
  width: 100%;
  height: 85%;
  background-color: $field-color;
  padding: 1rem;
}
#answer-view .start-game {
  text-align: center;
  align-self: center;
  margin: 2rem;
}
#answer-view .start-game button{
  margin: 10px;
}
#winner-view {
  text-align: center;
  align-self: center;
}
#winner-view img{
  margin: 10px;
}
#score {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  margin: 0 0.75rem;
}
